<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="">LOGIN</a>
      <a href="/sleeps" <%- title === 'All Sleeps' ? 'class="active"' : '' %>>My Sleep Cycles</a>
      <a href="" <%- title === 'Wellness' ? 'class="active"' : '' %>>Wellness Checks</a>
      <a href="/sleeps/new" <%- title === 'Record Cycle' ? 'class="active"' : '' %>>Record Cycle</a>
    </nav>
    <h1><%= title %></h1>
    <p><%= title %> is your #1 guide to tracking your sleep cycles on a daily basis. Our goal is to help promote good quality sleep for all!</p>
    <a href="/sleeps/new">Record New Cycle</a>
  </body>
</html>
