<%- include('../partials/header') %>

<div>
    <h2><%= title %></h2>
    <table id="cycles">
        <thead>
            <th></th>
            <th>Sleep Cycle</th>
            <th>Wellness Check</th>
        </thead>
        <tbody>
            <% sleeps.forEach(function(s) { %>
                <tr>
                    <td>
                        <form action="/sleeps/<%= s._id %>?_method=DELETE"
                        id="delete-form" method="POST">
                        <button type="submit">Delete</button>
                        </form>
                    </td>
                    <td><%= s.date %></td>
                    <td><a class="links" href="/checks/new/<%= s._id %>">Complete</a></td>
                    <td><a class="links" href="/sleeps/<%= s._id %>">SEE DETAILS</a></td>
                
                </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <a id="add-new-cycle" href="/sleeps/new">Add New Cycle</a>
</div>

<%- include('../partials/footer') %>