<%- include('../partials/header') %>

<div class="card">
  <div class="card-body">

    <h2><%= title %></h2>
    <br>
    <table>
      <tbody>
        <% sleeps.forEach(function(s) { %>
          <tr>
            <td><%= s.date %></td>
            <td><a class="button" href="/sleeps/<%= s._id %>">See Details</a></td>
            <td>
              <form action="/sleeps/<%= s._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete?</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>

  </div>
</div>

<%- include('../partials/footer') %>