<%- include('../partials/header') %>

<h1><%= title %></h1>
<table id="cycles">
    <thead>
        <th>Sleep Cycle</th>
        <th>Wellness Check</th>
    </thead>
    <tbody>
        <% sleeps.forEach(function(s) { %>
            <tr>
            <td><%= s.date %></td>
            <td><a href="/checks/new">Complete</a></td>
            <td><a href="/sleeps/<%= s._id %>">See details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<br>
<a href="/sleeps/new">Add New Cycle</a>

<%- include('../partials/footer') %>