<%- include('../partials/header') %>

<div class="area">
  <h2><%= title %></h2>
  <br>
  <table id="sleeps">
    <tbody>
      <% sleeps.forEach(function(s) { %>
        <tr>
          <td><%= s.date %></td>
          <td><a id="see-details" href="/sleeps/<%= s._id %>">See Details</a></td>
          <td>
            <form action="/sleeps/<%= s._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete?</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <br><br>
</div>

<%- include('../partials/footer') %>