<%- include('../partials/header') %>

<section id="show-page">

    <div>Date: </div>
    <div><%= sleep.date %></div>
    <div>Hours Slept: </div>
    <div><%= sleep.hoursSlept %></div>
    <div>Energy Levels: </div>
    <div><%= sleep.energyLevels %></div>
    <div>Did you wake up in the middle of the night? </div>
    <div><%= sleep.wokeUp ? 'Yes' : 'No' %></div>
    <div>Did you grab a snack when you woke up? </div>
    <div><%= sleep.ateFood ? 'Yes' : 'No' %></div>
  </section>
  <br><br><% if (sleep.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Thoughts</th>
        </tr>
      </thead>
      <tbody>
        <% sleep.comments.forEach(function(c) { %>
          <tr>
            
            <td><%= c.thoughts %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>(No thoughts yet)</h5>
  <% } %>

  <br><br><h2>Feedback </h2>
  <form id="add-comment-form" method="POST" action="/sleeps/<%= sleep._id %>/comments">
    <label>Any comments: </label>
    <textarea name="content"></textarea>
    <input type="submit" value="Submit New Thoughts">
   
  </form>
  




<%- include('../partials/footer') %>