<%- include('../partials/header') %>

<div class="card">
  <div class="card-body">
    <h2><%= title %></h2>
    <div>
      <div>Date: <span><%= sleep.date %></span></div>
      <div>Hours Slept: <span><%= sleep.hoursSlept %></span></div>
      <div>Did you wake up in the middle of the night? <span><%= sleep.wokeUp ? 'Yes' : 'No' %></span></div>
      <div>Did you grab a snack when you woke up? <span><%= sleep.ateFood ? 'Yes' : 'No' %></span></div>
      <div>Energy Levels: <span><%= sleep.energyLevels %></span></div>
    </div><br>

    <div class="thoughts">
      <% if (sleep.comments.length) { %>
        <table>
          <thead>
            <tr>
              <th>My Thoughts:</th>
            </tr>
          </thead>
          <tbody>
            <% sleep.comments.forEach(function(c) { %>
              <tr>
                <td><%= c.thoughts %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>(No Thoughts Yet)</h5>
      <% } %>
      </div><br>

    <h2>Any Thoughts? </h2>
    <br>
    <form method="POST" action="/sleeps/<%= sleep._id %>/comments">
      <textarea name="thoughts"></textarea><br>
      <input class="button" type="submit" value="Submit">
    </form>

  </div>
</div>

<%- include('../partials/footer') %>